// this file is loaded automatically by webpack

$foreground-light: #222;
$foreground-dark: #eee;

$background-light: #ddd;
$background-dark: #222;

$default_animation_curve: cubic-bezier(0.075, 0.82, 0.165, 1);
